devel/
logs/
build/
bin/
install/
log/
venv/
.vscode/
.vscode/settings.json
__pycache__/
*.cfg
Otros/siguelinea/siguelinea/__init__.py
Otros/siguelinea/test/test_copyright.py
Otros/siguelinea/test/test_flake8.py
Otros/siguelinea/test/test_pep257.py
retos_ws/src/semifinal/semifinal/__pycache__/
retos_ws/src/semifinal/semifinal/__pycache__/misfunciones.cpython-38.pyc
retos_ws/src/semifinal/semifinal/__pycache__/laberinto.cpython-38.pyc
